.root {
    padding-inline: .5rem;
    padding-left: 1rem;
    padding-block: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;

    &__form {
        backdrop-filter: blur(15px) saturate(100%);
        -webkit-backdrop-filter: blur(15px) saturate(100%);
        background-color: rgba(17, 25, 40, 0);
        border: 1px solid rgba(255, 255, 255, 0.125);
        height: 100%;
        padding: 1rem;
        border-radius: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}