.root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 3rem;
        color: #ffffff;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        padding-block: 4rem;
        border-radius: 1rem;
        max-width: 700px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.068);
        backdrop-filter: blur(15px) saturate(100%);
        -webkit-backdrop-filter: blur(15px) saturate(100%);
        box-shadow: inset 0 0 2px 2px rgb(255 255 255 / 20%);
        gap: 1rem;
        //filter: drop-shadow(2px 4px 6px rgb(209, 209, 209))
    }

    &__label {
        color: #c5c5c5;
        margin-bottom: 10px;
    }

    &__input {
        padding-inline: 1rem;
        padding-block: 1.2rem;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.068);
        backdrop-filter: blur(15px) saturate(100%);
        -webkit-backdrop-filter: blur(15px) saturate(100%);
        box-shadow: inset 0 0 15px 2px rgb(255 255 255 / 20%);
        transition: all .3s ease-in-out;
        caret-color: #bdbcbc;
        border: 1px solid transparent;
        color: #bdbcbc;

        &::placeholder {
            color: #c7c7c7;
        }

        &:focus {
            outline: none;
            border-radius: 1rem;
        }

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px trasparent inset;
        }
    }

    &__blockInput {
        display: flex;
        flex-direction: column;
    }

    &__button {
        position: relative;
        margin-top: 2rem;
        width: 100%;
        padding-block: 1rem;
        background-color: #1a98ff;
        border-radius: 1rem;
        transition: all .3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.068);
        backdrop-filter: blur(15px) saturate(100%);
        -webkit-backdrop-filter: blur(15px) saturate(100%);
        box-shadow: inset 0 0 15px 2px rgb(255 255 255 / 20%);

        &:hover {
            background-color: rgba(26, 152, 255, 0.651);
        }

        &:disabled {
            cursor: not-allowed;
            background-color: #ccc;
            background-color: rgba(255, 255, 255, 0.068);
        }
    }
}